<header>
  <!-- icone -->
  <img src="/assets/img/logo.png" alt="Logo Controle Fianceiro">
  <!-- brand -->
  <h4 class="brand">Controle Financeiro</h4>
  <!-- nav -->
  <nav>
    <ul>
      <li>
        <a href="#">Dashboard</a>
      </li>
      <li>
        <a href="#">Resumo</a>
      </li>
      <li>
        <a href="#">Configurações</a>
      </li>
    </ul>
  </nav>

  <!-- botão para mobile -->
  <div class="btn-menu">
    <fa name="bars" size="2x"></fa>
  </div>
  <!-- sidebar -->
  <div [ngClass]="{'active-menu': isShown}" >
      <div class="menu-bar">
        <ul (click)="toggle()">
          <li class="nav-item">
            <a
              [routerLink]="item.url"
              routerLinkActive="active-link">
              {{item.name}}
            </a>
          </li>
        </ul>
      </div>
    <div class="overlay" (click)="toggle()"></div>
  </div>

</header>
