:host {
  header {
    display: flex;
    align-items: center;
    background-color: #E0E0E0;
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    padding: .5rem 1rem;

    img {
      display: flex;
    }

    .brand {
      flex: 1;
      margin-left: 1rem;
      display: flex;
    }

    nav {
      ul {
        background: white;
        padding: .75rem 0;
        li {
          &:not(:last-child) {
            border-right: 1px solid #ddd;
          }
          a {
            padding: .75rem 1.3rem;
            font-weight: bold;
            &:hover {
              color: #777;
            }
          }
        }
      }
    }
    .btn-menu {
      cursor: pointer;
      &:hover {
        color: #777;
      }
    }




    .menu-bar {
      display: flex;
      flex-direction: column;
      padding: 0;
      position: fixed;
      height: 100%;
      width: 80%;
      margin-top: 55px;
      z-index: 200;
      max-width: 200px;
      top: 0;
      left: -80%;
      transition: all 0.3s ease-in-out;

      color: #fff;
      background: #2f353a;

      ul {
        width: 200px;
        flex-direction: column;
        min-height: 100%;
        padding: 0;
        .nav-title {
          padding: .75rem 1rem;
          font-size: .8rem;
          font-weight: 700;
          color: #777;
          text-transform: uppercase;
        }
        li {
          position: relative;
          margin: 0;
          transition: background .3s ease-in-out;
          width: 100%;

          a {
            height: 100%;
            width: 100%;
            display: block;
            padding: .75rem 1rem;
            color: #fff;
            text-decoration: none;
            background: 0 0;
            transition: all .3s ease-in-out;
            &:hover {
              background-color: #20a8d8;
              i {
                color: white;
              }
            }

            &.active-link {
              background-color: #3a4248;
              i {
                color:  #20a8d8;
              }
            }

            i {
              display: inline-block;
              width: 1.09375rem;
              margin: 0 .5rem 0 0;
              font-size: 1.1rem;
              color: #73818f;
              text-align: center;
            }
          }

          &:hover {
            opacity: 1.4;
          }
        }
      }
    }

    .active-menu {

      .menu-bar {
        left: 0;
      }
      .overlay {
        z-index: 99;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: .4)
      }
    }


  }
}
