.container {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

// Clearfix
@mixin clearfix {
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}

@mixin basicColumn {
  float: left;
  padding: 0 15px;
  margin-bottom: 30px;
}

// Usage
.linha {
  @include clearfix;
  margin: 0 -15px;

}

// cols
.coluna {
  @for $i from 1 through 12 {
    &-#{$i} {
      // width: $one-column * $i;
      width: percentage($i / 12);
      @include basicColumn;

    }
  }
}
