@import "_grid";
@import "_variables";

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

ul {
  padding: 0;
  li {
    display: inline-block;
  }
}

a {
  text-decoration: none;
  color: #444;
}

@media(max-width: 800px) {
  header {
    height: 55px;
    .brand {
      justify-content: center;
    }
    nav {
      display: none;
    }
    .btn-menu {
      display: block;
    }
  }
}

@media(min-width: 801px) {
  header {
    .btn-menu {
      display: none;
    }
  }
}





